<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Electron BrowserWindow</title>
	<link crossorigin="anonymous" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		href="https://lib.baomitu.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

	<style>
		html,
		body {
			height: 100%;
			width: 100%;

			/* devTools 打开时无效 */
			/* 窗口可拖拽 */
			-webkit-app-region: drag;
			/* 文本不可选择 */
			-webkit-user-select: none;
		}

		button {
			-webkit-app-region: no-drag;
		}

		/* .titlebar {
			-webkit-user-select: none;
			-webkit-app-region: drag;
		} */
	</style>
</head>

<body style="-webkit-app-region: drag">
	<div class="container-fluid">
		<h2>Hello Electron</h2>

		<button id="btn-reload" type="button" class="btn btn-primary">重新加载</button>
		<button id="btn-close" type="button" class="btn btn-secondary">关闭</button>
		<button id="btn-progress" type="button" class="btn btn-success">模拟进度</button>
		<!-- <button type="button" class="btn btn-danger">Danger</button> -->
		<!-- <button type="button" class="btn btn-warning">Warning</button> -->
		<button id="btn-capture" type="button" class="btn btn-info">截图</button>
		<!-- <button type="button" class="btn btn-light">Light</button> -->
		<!-- <button type="button" class="btn btn-dark">Dark</button> -->
	</div>

	<!-- 避免第三方组件使用umd形式 -->
	<script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>
	<script crossorigin="anonymous" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
		src="https://lib.baomitu.com/jquery/3.4.1/jquery.min.js"></script>
	<script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		src="https://lib.baomitu.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script>if (window.module) module = window.module;</script>

	<script>
		const debug = require('debug')('electron-example:view:index.html');
		const fs = require('fs');
		const path = require('path');
		// 不建议滥用 remote 
		const remote = require('electron').remote;
		const downloadPath = remote.app.getPath('downloads');
		const currentWindow = remote.getCurrentWindow();

		$(() => {
			// 截图
			$('#btn-capture').on('click', () => {
				const filepath = path.join(downloadPath, 'electron-capture.png');
				debug('capture', filepath);

				currentWindow.capturePage()
					.then((img) => {
						fs.writeFileSync(filepath, img.toPNG());
					});
			});

			// 重新加载
			$('#btn-reload').on('click', () => {
				currentWindow.reload();
			});

			// 关闭
			$('#btn-close').on('click', () => {
				currentWindow.close();
			});

			// 模拟进度
			$('#btn-progress').on('click', () => {
				let progress = 0;
				const timer = setInterval(() => {
					progress += 0.1;
					currentWindow.setProgressBar(progress);

					if (progress >= 1) {
						// 进度不会自动消失 <0 时进度条消失
						currentWindow.setProgressBar(-1);
						clearInterval(timer);
					}
				}, 100);
			});

			
		});
	</script>
</body>

</html>